*
{box-sizing: border-box;
margin: 0;
padding: 0;}

body
{font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', 'sans-serif';
}

/*header*/
nav
{background-color: #5e6460b3;
padding: 10px;
height: 7vh;
width: 100% ;
}

ul
{display: flex;
justify-content: space-around;}

li
{list-style-type: none;}

.nav
{text-decoration: none;
color: #fff;
background-color: rgba(171, 164, 171, 0.412);
padding: 12px 24px;
width: 100px;
display: inline-block;}

img 
{width: 60px;}

.precio
{display: inline;}

.carrito
{display: inline;}

.elogin
{display: inline-block;
justify-content: center;
width: 100%;
background-color: #5e6460b3;
color: #fff;
padding: 60px;
align-items: center;
margin-top: 600px;}

.enhome {
    display: inline-block;
    justify-content: center;
    width: 100%;
    background-color: #5e6460b3;
    color: #fff;
    padding: 20px;
    align-items: center;
    margin-top: 95px;
}

.encarro {
    display: inline-block;
    justify-content: center;
    width: 100%;
    background-color: #5e6460b3;
    color: #fff;
    padding: 20px;
    align-items: center;


}

.accesorios
{text-align: center;
padding: 10px;}

.fotosaccesorios
{height: 150px;
padding: 15px;
width: 150px;
border-radius: 10px;
justify-content: center;
align-items: center;}



.cajas
{height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin: 15px;
    background-attachment: scroll;
background-color:#afa9a9c1 ;}
 
.elcarrito 
{display: flex;
    flex-direction: column;
    border-width: 5px;
    border-style: double;
    border-color: black;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;} 

    .csslog {
        display: flex;
        flex-direction: row;
        border-color: black;
        font-size: 20px;
        display: inline-block;
        border: 10px solid black;
        padding: 30px;
    
    }

    .cajapek {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        border: 5px solid black;
        padding: 30px;
        background-color: grey;
       

    }


    .Remera {
        display: flex;
        flex-direction: column;
        border-width: 5px;
        border-style: double;
        border-color: black;
        padding: 10px;
        font-size: 20px;
        }

.home1 {
text-align: center;
text-decoration: underline;
}

.titulocarrito {

    text-align: center;
    text-decoration: underline;
}

.container1
{height: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: nowrap;
align-items: center;
margin: 15px;
justify-content: center;
background-attachment: scroll;}


.bolsodecuero, .collardeplata, .anteojosdesol, .bufanda, .reloj
{margin: 10px;
padding: 10px;
line-height: 1.5;
background-color: #afa9a9c1;
border-radius: 20px;} 

.fondoc, .fondo
{background-color: #afa9a9c1}

.ingresar 
{text-align: center;
font-weight: bold;
text-decoration: underline;
font-size: 50px;}

.login, .recover
{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}


button, .h3
{justify-content: center;
text-align: center;}

.bodyaccesorios 
{background-color: rgb(255, 255, 255);}

.container2
{height: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: nowrap;
align-items: center;
margin: 15px;
justify-content: center;
background-attachment: scroll;}

.anillo, .cinturón, .gorra, .media, .billetera
{margin: 10px;
padding: 10px;
line-height: 1.5}

.clothingstore
{justify-content: center;
text-align: center;}

.bolsodecuero, .collardeplata, .anteojosdesol, .bufanda, .reloj, .anillo, .cinturón, .gorra, .media, .billetera
{background-color: #afa9a9c1;
border-radius: 20px;
border: 2px solid black;}

.bodyaccesorios, .bodycarrito, .bodyelectronica, .bodyhombre, .bodyhome, .bodymujer, .bodylogin, .bodyregistro
{background-color: rgb(228, 222, 222);}

.imgfooter
{display: flex;
box-sizing: border-box; 
align-content: center;
justify-content: center;}

footer
{display: block;
justify-content: center;
bottom: 0;
width: 100%;
background-color: #5e6460b3;
color: #fff;
padding: 20px;
align-items: center;}

main 
{padding: 20px;}

.detallesdelproducto 
{background-color: #fff;
padding: 90px;
border-radius: 10px;
text-align: center;}

.imgproducto
{width: 300px; 
margin-bottom: 20px;}

.precioproducto 
{color: #333;}

.agregaralcarritoproducto 
{background-color: #a19b9b;
padding: 2px;
border-radius: 5px;
margin-top: 10px;
color: black;
border: 2px solid black;
justify-content: center;
align-items: center;}

.formregistro
{margin: 0;
width: 300px;
text-align: center;
padding: 150px;}

button, .inputpassword, .inputrepeat, .labelaccept, .inputcheckbox, .inputregistro, .formregistro
{display: block;
width: 50%;
padding: 10px;
margin-bottom: 35px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
flex-direction: row;
text-align: center;}

label 
{display: block;
margin-bottom: 10px;}

.buttonregistro, .labelaccept, .inputcheckbox
{background-color: #2856ee;
color: #fff;
font-size: 16px;
background-color: #2856ee;}

.bodyregistro
{background-color: #afaaaa;}

.registro 
{font-size: 30px;}

.agregaralcarrito
{background-color: #ffffff;
padding: 2px;
border-radius: 5px;
margin-top: 10px;
color: black;
border: 2px solid black;
justify-content: center;
align-items: center;
display: inline-block;}

.logos 
{display: flex;
align-items: center;
display: flex;}

.logosimg
{width: 50px; 
margin: 10px;
align-items: center; 
justify-content: center; 
display: flex;}


@media (max-width: 850px) {
    .cajas{
display: flex;
height: 33%;
flex-direction: column;
margin: 5px;
width: 225%;
align-items: left;}

nav
{width: 228vw ;}

.home1 {
    text-align: left;
    
 }

 footer
 {display: inline-block;
 width: 225%;}



 .elogin
{
    margin-top: 1455px;
    width: 228vw ;}

.enhome {
    margin-top: 95px;
    width: 228vw ;
}

.encarro {
   
    margin-top: 770px;
    width: 228vw ;
}
} 


@media (max-width: 850px) {}
     footer 
    {display: block;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background-color: #5e6460b3;
    color: #fff;
    padding: 20px;
    align-items: center;}

    .detallesdelproducto 
{background-color: #fff;
padding: 90px;
border-radius: 10px;
text-align: center;} 

.accesorios
{margin-top: 5px;
width: 100vw ;
margin-right: 500vw;}

.bolsodecuero, .collardeplata, .anteojosdesol, .bufanda, .reloj, .anillo, .cinturón, .gorra, .media, .billetera
{width: 100%;
height: auto; 
margin-right: 100px;
display: inline-block;}




