*
{box-sizing: border-box;
margin: 0;
padding: 0;}

/*header*/
nav
{background-color: rgb(140,155,140);
padding: 10px;
height: 10vh;}

ul
{display: flex;
justify-content: space-around;}

li
{list-style-type: none;}

.nav
{text-decoration: none;
color: #fff;
background-color: rgb(75,110,170);
padding: 12px 24px;
border-radius: 5px;
width: 100px;
display: inline-block;}

img {
width: 80px;


}